<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-upper text-primary mb-3 heading">Conspiracy Cuisine</span>
	<span class="site-heading-lower heading">Home Of The Bombastic Brownie</span>
</h1>

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
	<div class="container">
		<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Conspiracy Cuisine</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item active px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/about">About</a>
				</li>
				<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cakes">Cakes</a>
          <a class="dropdown-item" href="/cookies">Cookies</a>
          <a class="dropdown-item" href="/muffins">Muffins</a>
        </div>
      </li>
			</ul>
		</div>
	</div>
</nav>

<section class="page-section about-heading">
	<div class="container">
		<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="https://www.prague.eu/object/1717/11.jpg" alt="">
		<div class="about-heading-content">
			<div class="row">
				<div class="col-xl-9 col-lg-10 mx-auto">
					<div class="bg-faded rounded p-5">
						<h2 class="section-heading mb-4">
							<span class="section-heading-upper">Satisfy Your Cravings</span>
							<span class="section-heading-lower">Check out our new flavors!</span>
						</h2>
						<p>Founded in 1987 by the Hernandez brothers, our establishment has been serving up conspiracies coupled with delicacies sourced from organic ingredients in secretive places that only the chosen ones can find. We are dedicated to cracking the code, bringing down the man, and serving you the tastiest pastries.
						</p>
						<p class="mb-0">We guarantee that you will fall in <em>lust</em> with our decadent sweets the moment you walk inside until you finish your last bite. Join us for your daily routine, an outing with friends, or simply just to discuss if the moon landing is a hoax.</p>
					</div>
				</div>
			</div>
		</div>
