<h1 class="site-heading text-center text-white d-none d-lg-block">
	<span class="site-heading-upper text-primary mb-3 heading">Conspiracy Cuisine</span>
	<span class="site-heading-lower heading">Home Of The Bombastic Brownie</span>
</h1>

<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
	<div class="container">
		<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">Conspiracy Cuisine</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/">Home
						<span class="sr-only">(current)</span>
					</a>
				</li>
				<li class="nav-item px-lg-4">
					<a class="nav-link text-uppercase text-expanded" href="/about">About</a>
				</li>
				<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cakes">Cakes</a>
          <a class="dropdown-item" href="/cookies">Cookies</a>
          <a class="dropdown-item" href="/muffins">Muffins</a>
        </div>
      </li>
			</ul>
		</div>
	</div>
</nav>

<section class="page-section clearfix">
	<div class="container">
		<div class="intro">
			<img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Grand_Central_Bakery_shop.jpg" alt="">
			<div class="intro-text left-0 text-center bg-faded p-5 rounded">
				<h2 class="section-heading mb-4">
					<span class="section-heading-upper">Fresh Pastries</span>
					<span class="section-heading-lower">Worth Eating</span>
				</h2>
				<p class="mb-3">Come try our famous Bombastic Brownie while you chat up the table next to you about the government secretly brainwashing us or take a deep dive with our Moon Landing Chip cookies which will really free your mind...with sweetness!
				</p>
			</div>
		</div>
	</div>
</section>

<section class="page-section cta">
	<div class="container">
		<div class="row">
			<div class="col-xl-9 mx-auto">
				<div class="cta-inner text-center rounded">
					<h2 class="section-heading mb-4">
						<span class="section-heading-upper">Get A Free Catalogue</span>
						<span class="section-heading-lower">Today</span>
					</h2>
					<form action="/" method="post">
<div class="form-group">
	<label for="email" class="bmd-label-floating">Email Address</label>
	<input type="email" name="email" class="form-control" id="exampleInputEmail1">
	<span class="bmd-help">We'll never share your email with anyone else.</span>
</div>
<div class="form-group">
	<label for="name" class="bmd-label-floating">Name</label>
	<input type="text" name="name" class="form-control" id="exampleInputText1">
</div>
<button type="submit" class="btn btn-primary btn-raised">Submit</button>
</form>
					<!-- <p class="mb-0">When you walk into our shop to start your day, we are dedicated to providing you with friendly service, a welcoming atmosphere, and above all else, excellent products made with the highest quality ingredients. If you are not satisfied, please let us know and we will do whatever we can to make things right!</p> -->
				</div>
			</div>
		</div>
	</div>
</section>

<footer class="footer text-faded text-center py-5">
	<div class="container">
		<p class="m-0 small">Copyright &copy; Your Website 2018</p>
	</div>
</footer>
